<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/layout.css">
	<title>Layout</title>
</head>
<body>
	
<div class="contenedor">
     <header>
	        <nav>
	 	     <ul>
	 		     <li><a href="#">Inicio</a></li>
	 		     <li><a href="#">Acerca de</a></li>
	 		     <li><a href="#">Productos</a></li>
	 		     <li><a href="#">Contactos</a></li>
	 	     </ul>
	        </nav>
     </header>
     <section class="main">
                <div class="imagen">
     	          <img src="img/bg3.jpg" alt="Una imagen" height="500">
                </div>
     <section class="posts">
     	        <article class="articulo">
     		      <h2>Titulo del  primer articulo</h2>
     		      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci praesentium doloribus eius perferendis, in, dolorum tempore inventore modi aliquid, repellat atque perspiciatis expedita, soluta eum molestiae ea. Quidem, debitis, assumenda.</p>
     		      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci praesentium doloribus eius perferendis, in, dolorum tempore inventore modi aliquid, repellat atque perspiciatis expedita, soluta eum molestiae ea. Quidem, debitis, assumenda.</p>
     	        </article>
     	          <article class="articulo">
     		      <h2>Titulo del segundo</h2>
     		      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci praesentium doloribus eius perferendis, in, dolorum tempore inventore modi aliquid, repellat atque perspiciatis expedita, soluta eum molestiae ea. Quidem, debitis, assumenda.</p>
     		      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci praesentium doloribus eius perferendis, in, dolorum tempore inventore modi aliquid, repellat atque perspiciatis expedita, soluta eum molestiae ea. Quidem, debitis, assumenda.</p>
     	        </article>
     </section>
     </section>
     <aside>
     	<div class="widget">
     		<h3 class="titulo">Articulo Destacado</h3>
     		<ul>
     		<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
     		<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
     		<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
     		<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
     		<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
     		</ul>
     	</div>
     	<div class="widget" id="informacion">
     		<h3 class="titulo">Informaciones recientes</h3>
     			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab repudiandae, dignissimos ipsa fugit dolor autem eum neque, ratione, impedit inventore tenetur nisi. Rem delectus a sint asperiores quos iure nulla!</p><br/>
     			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab repudiandae, dignissimos ipsa fugit dolor autem eum neque, ratione, impedit inventore tenetur nisi. Rem delectus a sint asperiores quos iure nulla!</p>
     	</div>
     </aside>
     <footer>
     	<p>&copy 2020 Esmelyn M. Santos - Todos los derechos reservados</p>
     </footer>
</div>
</body>
</html>